.tooltip {
    overflow: hidden !important;
}

.buttonCustom {
    border-radius: 3px;
    background-color: #eee;
    border: 1px solid #ddd;
    margin-top: 8px;
    margin-right: 8px;
    font-size: 16px;
    padding: 3px 6px;
}

.marginButton {
    margin-top: 12px;
}

.input {
    border-radius: 3px;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-top: 8px;
    width: 60px;
    margin-right: 8px;
    margin-left: 8px;
    padding-left: 2px;
}

.span-margin-right {
    margin-right: 10px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 34px;
}

.switch input {display:none;}

.slider {
    cursor: pointer;
    text-indent: -9999px;
    width: 34px;
    height: 14px;
    top: 2px;
    background: rgb(158,158,158);
    display: inline-block;
    border-radius: 100px;
    position: relative;
}

.slider:before {
    content: '';
    position: absolute;
    top: -4px;
    left: 0px;
    width: 20px;
    height: 20px;
    background: #fff;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
    border-radius: 20px;
    transition: 0.3s;
}

input:checked + .slider {
    background: rgba(96,125,139,0.5);
}

input:checked + .slider:before {
    left: calc(100%);
    transform: translateX(-100%);
    background: rgb(96,125,139);
}

.bounds {
    display: inline;
}

.hidden {
    display: none;
}

.knockoutgenes {
    margin-left: 15px;
}

